@import "../fonts/fonts";

$black: #333;
$primary: #f40000;
$crem: #fafafa;
$accent: #fafafa;

input,
button,
textarea {
	&:active {
		outline: none;
	}
	&:focus {
		outline: none;
	}
}

img {
	max-width: 100%;
	font-size: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  opacity: 1;
  font-size: 16px;
}
input::-moz-placeholder,
textarea::-moz-placeholder{
  opacity: 1;
  font-size: 16px;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
  opacity: 1;
  font-size: 16px;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{
  opacity: 1;
  font-size: 16px;
}

input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {opacity: 0;}
input:focus::-moz-placeholder,textarea:focus::-moz-placeholder          {opacity: 0;}
input:focus:-moz-placeholder,textarea:focus:-moz-placeholder           {opacity: 0;}
input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder {opacity: 0;}

h2 {
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 600;
}

h3 {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
}

* {
	box-sizing: border-box;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
}

body {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0;
	overflow-x: hidden;
	color: $black;
}

main {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 80px; 
}

.wrapper {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
}

.button {
	padding: 10px 20px;
	text-align: center;
	white-space: nowrap;
	border: none;
	border-radius: 2px;
	color: #333333;
	font-size: 18px;
	background-color: $accent;
	cursor: pointer;
	z-index: 1;

	&:hover {
		background-color: darken($accent, 5%);
	}

	&:active {
		background-color: darken($accent, 10%);
	}
}

.input-field {
	max-width: 280px;
	height: 40px;
	padding-left: 10px; 
	font-size: 16px;
	z-index: 1;
}

@import "../../components/header/header";
@import "../../components/first-screen/first-screen";
@import "../../components/about-company/about-company";
@import "../../components/road-map/road-map";
@import "../../components/features/features";
@import "../../components/calculator/calculator";
@import "../../components/answers/answers";
@import "../../components/portfolio/portfolio";
@import "../../components/reviews/reviews";
@import "../../components/up/up";