extends ../layouts/master.pug
block head
	- let pageTitle = 'Грузоперевозки Алматы  &  Международные перевозки';
block content
	+firstScreen('Грузоперевозки Алматы & Международные перевозки', 'Преодолевая любые расстояния', 'Сделайте заказ сейчас и получите индивидуальное предложение')
	+aboutCompany('Логистическая компания "Avtoperevozchik" оказывает полный спектр транспортных услуг по перевозке всех типов грузов. Нашей специализацией являются грузоперевозки «под ключ» по территории Казахстана и за его пределами. Мы имеем большой опыт транспортировки сборных грузов и полных фрахт, а также особых грузов, при транспортировке которых требуется определенный температурный режим. Осуществляем перевозки по территории Казахстана, Средней Азии, Китая,  Европы, Ближнего Востока, стран СНГ и обратно.', 'Avtoperevozchik', 'Сделайте заказ сейчас и получите индивидуальное предложение')
	+roadMap([
		['Звонок от Вас', 
			["Вы обращаетесь в наш  call-centr или оставляете заявку на сайте.", 'Менеджер Вас консультирует об услугах и рассчитывает примерную стоимость.', 'Наш менеджер выезжает к Вам для подписания договора.']
		],
		['Выполнение работ', 
			['Вы вносите предоплату.', 'Взвешивание и погрузка груза с пункта отправки.', 'Перевозка груза.']
		],
		['Доставка в пункт назначения', 
			['Доставка в пункт назначения.', 'Разгрузка груза и прием грузополучателем.', 'Вы производите полный расчет.']
		]
		])

