extends ../layouts/master.pug
block head
	- let pageTitle = 'Грузоперевозки Алматы  &  Международные перевозки';
block content
	+firstScreen('Грузоперевозки Алматы & Международные перевозки', ['Что?','Куда?', 'Когда?'], 'Сделайте заказ сейчас и получите индивидуальное предложение','images/components/first-screen/logo_itog.png','Avtoperevozchik логистическая компания')
	+aboutCompany('Логистическая компания "Avtoperevozchik" оказывает полный спектр транспортных услуг по перевозке всех типов грузов. Нашей специализацией являются грузоперевозки «под ключ» по территории Казахстана и за его пределами. Мы имеем большой опыт транспортировки сборных грузов и полных фрахт, а также особых грузов, при транспортировке которых требуется определенный температурный режим. Осуществляем перевозки по территории Казахстана, Средней Азии, Китая,  Европы, Ближнего Востока, стран СНГ и обратно.', 'Avtoperevozchik', 'Сделайте заказ сейчас и получите индивидуальное предложение')
	+roadMap([
		['Звонок от Вас', 
			["Вы обращаетесь в наш  call-centr или оставляете заявку на сайте.", 'Менеджер Вас консультирует об услугах и рассчитывает примерную стоимость.', 'Наш менеджер выезжает к Вам для подписания договора.']
		],
		['Выполнение работ', 
			['Вы вносите предоплату.', 'Взвешивание и погрузка груза с пункта отправки.', 'Перевозка груза.']
		],
		['Доставка в пункт назначения', 
			['Доставка в пункт назначения.', 'Разгрузка груза и прием грузополучателем.', 'Вы производите полный расчет.']
		]
		])
	+features([
		['Быстрое реагирование', 'Минимальный промежуток времени между звонком и началом работ.','features__pic features__pic--fast-reaction'],
		['В ногу со временем', 'Компания использует современные логистические решения.','features__pic features__pic--fast-food-time'],
		['Страхование ответственности', 'Страхование вашего имущества до 10  миллионов тенге.','features__pic features__pic--liability-insurance'],
		['Опытные сотрудники и надежный автотранспорт', 'Весь персонал квалифицирован.','features__pic features__pic--experenced'],
		['Контроль перевозки', 'За каждой услугой закреплен менеджер, ведется наблюдение за передвижением груза и контроль за погрузкой и разгрузкой.','features__pic features__pic--control'],
		['Цена/Качество', 'Лучшее соотношение средней цены и высокого качества услуг.','features__pic features__pic--price']
	])
	+calculator([
	["Калькулятор дает предварительный расчет, окончательную стоимость определит менеджер."],
	["Минимальная сумма заказа 5 500 тенге."],
	["К стоимости применяется топливная надбавка 10%."],
	["Все тарифы не включают в себя НДС."],
	["За вес отправления принимается наибольший параметр физического или объемного весов. Объемный вес рассчитывается по формуле: (Длина (см) * Ширина (см) * Высота (см)) / 6000."], 
	["Если производилась дополнительная упаковка, то тариф рассчитывается с учетом веса упаковки."],
	["За транспортировку негабаритного груза, к тарифам применяются повышающие коэффициенты. За транспортировку негабаритного груза, к тарифам применяется повышающий коэффициент 1,5."],
	["Негабаритный груз - это груз, длина одного места которого не превышает 1,2 м, ширина не превышает 1 м, высота груза не превышает 1,5 м, вес составляет более 150 кг."],
	["Разгрузочно-погрузочные работы обеспечивает Заказчик (Грузоотправитель/Грузополучатель)."], 
	["Груз принимается по количеству мест, без пересчета внутренних вложений."], 
	["Услуга возврата товаросопроводительных документов Заказчику – 2 000 тенге."],
	["Прием груза с проверкой внутренних вложений - тариф увеличивается на 100%."],
	["Услуги Авторефрижератора и полного Фрахта рассчитываются индивидуально."],
	["Международные перевозки рассчитываются индивидуально."]
		])
	+portfolio([
	'images/components/portfolio/whitewind.png', 
	'images/components/portfolio/london.jpg', 
	'images/components/portfolio/lenovo.png', 
	'images/components/portfolio/mondelez.png', 
	'images/components/portfolio/gloriya.jpg', 
	'images/components/portfolio/xeroxlogo.jpg', 
	'images/components/portfolio/atlas.png', 
	'images/components/portfolio/karcher.png'])
	+reviews(['rev'])
	+answers([
		['Ваша компания производит отправки грузов в выходные и праздничные дни?', 'Да, мы отправляем грузы 24 часа в сутки 7 дней в неделю.'],
		['Какие грузы необходимо упаковывать в жесткую упаковку?', 'В жесткую упаковку необходимо упаковывать грузы, которые могут легко деформироваться или повредиться в процессе погрузочно-разгрузочных работ, а также при перевозке (стекло, крупная бытовая техника, рекламные конструкции и макеты,  мототехника, дорогостоящее оборудование.'],
		['Как скоро будет произведена доставка груза, который прибыл в пункт назначения?', 'Доставка грузов производятся «День в день» без задержек на складе. Прибыв в пункт назначения груз направляется на разгрузку.'],
		['Можно ли оплатить услуги перевозки при получении груза?', 'Да, оплата перевозки может быть произведена получателем или отправителем за наличный и безналичный расчет.'],
		['Что такое негабаритный груз?', 'Негабаритный груз - это груз, длина одного места которого не превышает 1,2 м, ширина не превышает 1 м, высота груза не превышает 1,5 м, вес составляет более 150 кг.']
		])