extends ../layouts/master.pug
block head
	- let pageTitle = 'Перевозка мебели Алматы';
block content
	+firstScreen('Перевозка мебели в Алматы', ['С заботой о Вашем имуществе'], 'Сделайте заказ сейчас и получите скидку 10%','images/components/first-screen/avtopereezd.png','Avtopereezd мувинговая компания', 'slogan-spec')
	+aboutCompany('Мувинговая компания "Avtopereezd" работает на рынке мувинговых услуг с 2013 года. За это время мы организовали более 500 переездов квартир и офисов, а также более 1 000 перевозок по Республике Казахстан и по праву заслужили репутацию молодого и надежного партнера. Мувинг (от англ. Moving — переезд) — профессиональные услуги по организации процесса перевозки и хранения вещей в период переезда (из квартиры в квартиру, из офиса в офис и т. п.).', 'Avtopereezd', 'Сделайте заказ сейчас и получите скидку 10%')
	+roadMap([
		['Звонок от Вас', 
			["Вы обращаетесь в наш  call-centr или оставляете заявку на сайте.", 'Менеджер Вас консультирует об услугах и рассчитывает примерную стоимость.', 'Наш менеджер выезжает к Вам для расчета точной стоимости услуг.']
		],
		['Приезд менеджера', 
			['Осмотр места погрузки и выгрузки, чтобы все правильно спланировать.', 'Замер перевозимого груза.', 'Составление сметы.']
		],
		['Выполнение работ', 
			['Заключение договора.', 'Вы вносите предоплату.', 'Оказание услуг.']
		],
		['Прием работы', 
			['Мы сдаем вам проделанную работу.', 'Вы получаете качественный результат.', 'Вы производите полный расчет.']
		]
		])
	+features([
		['Быстрое реагирование', 'Минимальный промежуток времени между звонком и началом работ.','features__pic features__pic--fast-reaction'],
		['В ногу со временем', 'Компания использует современные логистические решения.','features__pic features__pic--fast-food-time'],
		['Страхование ответственности', 'Страхование вашего имущества до 10  миллионов тенге.','features__pic features__pic--liability-insurance'],
		['Опытные сотрудники и надежный автотранспорт', 'Весь персонал квалифицирован.','features__pic features__pic--experenced'],
		['Контроль перевозки', 'За каждой услугой закреплен менеджер, ведется наблюдение за передвижением груза и контроль за погрузкой и разгрузкой.','features__pic features__pic--control'],
		['Цена/Качество', 'Лучшее соотношение средней цены и высокого качества услуг.','features__pic features__pic--price']
	])
	+calculator([
	["Калькулятор дает предварительный расчет, окончательную стоимость определит менеджер."],
	["Минимальная сумма заказа 5 000 тенге."],
	["Исполнитель вправе повысить стоимость или увеличить количество рейсов машин из-за сильно тяжелого груза, неудобств для работы, несоответствия объему работ."],
	["Мастер по сборке/разборке мебели (Мебельщик) необходим при перевозке крупногабаритной,  хрупкой, комбинированной со стеклом мебели."],
	["Упаковщик необходим для упаковки  хрупких (стекло, посуда, мебель, бытовая техника и т.д) предметов при транспортировке."], 
	["Супервайзер необходим для контроля всех участников перевозки на всех этапах процесса (упаковка, погрузки, транспортировке, разгрузке, расстановки)."],
	["Упаковочные материалы (стрейч-пленка, картон, скотч, пузырчатая пленка и т.д.) предоставляются за дополнительную плату."],
	["Такелажные работы рассчитываются индивидуально и дополнительно."]
	])
	+portfolio([
	'images/components/portfolio/whitewind.png', 
	'images/components/portfolio/london.jpg', 
	'images/components/portfolio/lenovo.png', 
	'images/components/portfolio/mondelez.png', 
	'images/components/portfolio/gloriya.jpg', 
	'images/components/portfolio/xeroxlogo.jpg', 
	'images/components/portfolio/atlas.png', 
	'images/components/portfolio/karcher.png'])
	+reviews(['rev'])
	+answers([
		['Обязательно ли находится дома при упаковке мебели, вещей и их транспортировке при работе мувинговой компании?', 'Нет, необязательно. Все возможные вопросы прописываются в договоре, и соблюдаются менеджером во всех процессах. Необходимо только обеспечить доступ в помещения.'],
		['Сколько времени вам необходимо для подготовки нашего переезда?', 'Для помещений менее 100 кв.м. – 1 день, для более 100 кв.м. – по договоренности.'],
		['Организовываете ли вы переезды в ночное время?', 'Да, организовываем. Это удобно коммерческим организациям для бесперебойной работы.'],
		['Можно ли заказать частичную упаковку мебели и вещей, и как это отразится на стоимости?', 'Стоимость работ конечно будет ниже, так как упаковка составляет примерно 30% стоимости переезда.'],
		['Вы оказываете услуги за городом?', 'Да, конечно. Компания обеспечена 7-ю (семью) автотранспортами, поэтому у нас нет сложностей для выезда за город, а также простоя работ при поломке 1-го (одного) транспорта.']
		])