mixin reviews(arr)
	section.reviews(id="reviews")
		div.wrapper
			div.reviews__wrapper
				h2.reviews__title Отзывы
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/gen.jpg" alt="Игорь Амерханов" class="reviews__img")
					h3.reviews__name Игорь Амерханов
					div.reviews__position Комменрческий директор
						span.reviews__bold Страхование Жизни
					audio(src="mayya.mp3", controls)
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/kom.jpg" alt="Василий Уткин" class="reviews__img")
					h3.reviews__name Василий Уткин
					div.reviews__position Генералный директор
						span.reviews__bold ООО Футбольный союз
					audio(src="mayya.mp3", controls)
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/as.jpg" alt="Асия Курбантаева" class="reviews__img")
					h3.reviews__name Асия Курбантаева
					div.reviews__position Исполнительный директор 
						span.reviews__bold AstiEvent
					audio(src="mayya.mp3", controls)
