mixin reviews(arr)
	section.reviews(id="reviews")
		div.wrapper.animated
			div.reviews__wrapper
				h2.reviews__title Отзывы
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/malceva.JPEG" alt="Мальцева Ирина" class="reviews__img")
					h3.reviews__name Мальцева Ирина
					div.reviews__position Оценка работы - 5
						span.reviews__bold Буду рекомендовать
					audio(src="mal1.mp3", controls)
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/kom.jpg" alt="Полякова Татьяна" class="reviews__img")
					h3.reviews__name Полякова Татьяна
					div.reviews__position Оценка работы - 5
						span.reviews__bold Буду обращаться
					audio(src="pol1.mp3", controls)
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/as.jpg" alt="Кундакбаев Адлет" class="reviews__img")
					h3.reviews__name Кундакбаев Адлет
					div.reviews__position Оценка работы - 5
						span.reviews__bold Однозначно лучшие
					audio(src="adl1.mp3", controls)
