mixin reviews2(arr)
	section.reviews(id="reviews")
		div.wrapper.animated
			div.reviews__wrapper
				h2.reviews__title Отзывы
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/solopov.jpg" alt="Солопов Андрей" class="reviews__img")
					h3.reviews__name Солпов Андрей
					audio(src="sol1.mp3", controls)
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/john.jpg" alt="John Tomson" class="reviews__img")
					h3.reviews__name John Tomson
					audio(src="john1.mp3", controls)
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/as.jpg" alt="Тулебаев Бекжан" class="reviews__img")
					h3.reviews__name Тулебаев Бекжан
					audio(src="mayya.mp3", controls)
