mixin reviews2(arr)
	section.reviews(id="reviews")
		div.wrapper.animated
			div.reviews__wrapper
				h2.reviews__title Отзывы
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/solopov.jpg" alt="Солопов Андрей" class="reviews__img")
					h3.reviews__name Солопов Андрей
					div.reviews__position Оценка работы - 5
						span.reviews__bold Буду рекомендовать
					audio(src="sol1.mp3", controls)
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/john.jpg" alt="John Tomson" class="reviews__img")
					h3.reviews__name John Tomson
					div.reviews__position Оценка работы - 5
						span.reviews__bold Буду рекомендовать
					audio(src="john1.mp3", controls)
				div.reviews__item
					div.reviews__pic
						img(src="images/components/reviews/as.jpg" alt="Асия Курбантаева" class="reviews__img")
					h3.reviews__name Асия Курбантаева
					div.reviews__position Оценка работы - 5
						span.reviews__bold Буду рекомендовать
					audio(src="mayya.mp3", controls)
