div.popup
	form(class="popup-form", action="/")
		h3.popup-form__trigger Заказать
		div.popup-form__close
		div.popup-form__wrapper
			input(type="text", class="popup-form__input input-field", name="name", placeholder="Ваше имя")
			input(type="tel", class="popup-form__input input-field", name="tel", placeholder="+7 (___) ___-__-__", title="Формат: +7 (096) 999 99 99", required)
			input(type="submit", class="popup-form__button button", value="Заказать")