mixin calculator(arr)
	section.calculator.calculator--info
			div.wrapper.animated
				div.calculator__wrapper.calculator__wrapper--info
					h3.calculator-info__title Информация
					ul.calculator-info__ul
						each item, index in arr
							li.calculator-info__item= item