.calculator {
	display: flex;
	justify-content: center;
	width: 100%;
	background-color: $crem;
	border-bottom: 1px solid darken($crem, 5%);
	border-top: 1px solid darken($crem, 5%);

	&__wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
     	padding: 60px 0 100px 0;
	}

	&__title {
		width: 100%;
		margin-bottom: 30px; 
		text-align: center;
	}

	&__margin-top40 {
		margin: 40px 0 0 0;
	}
}

.calc {
	display: flex;
	flex-wrap: wrap;

	&__row {
		display: flex;
		width: 100%;

		&--insurance {
			margin-top: 0;
		}
	}

	&__cell {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
    	margin: 0 35px 0 0;
    	padding: 20px 0;
    	border-bottom: 1px dotted darken($crem, 15%);

    	&--no-wrap {
    		flex-wrap: nowrap;
     		align-items: baseline;
    	}

    	&--border-bottom-no {
    		border-bottom: 0;
    	}
	}
	
	&__label {
		width: 100%;
		margin-bottom: 15px;
		text-transform: uppercase;
		font-size: 20px;
		font-weight: 600;

		&--checkbox {
			width: auto;
			margin: 0 10px 0 0;
		}
	}

	&__field {
		max-width: 280px;
		min-width: 200px;
		height: 40px;
		padding-left: 10px; 
		font-size: 16px;
		z-index: 1;

		&:focus {
			border: 1px solid $primary;
		}
	}

	&__select {
		max-width: 280px;
		min-width: 200px;
		height: 40px;
		padding-left: 10px; 
		font-size: 16px;
		z-index: 1;

		&:focus {
			border: 1px solid $primary;
		}
	}

	&__all-total-cost {
    	font-size: 34px;
    	font-weight: 600;
	}

	&__insurance-value {
		font-size: 34px;
    	font-weight: 600;
	}

	&__money-value {
		font-size: 34px;
    	font-weight: 600;
	}

	&__money-currency {
		padding: 0 0 0 5px;
		font-size: 18px;
	}

}

.calculator-info {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__title {
		margin-bottom: 35px;
	}

	&__ul {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	&__item {
    	font-size: 13px;
	    line-height: 1.4;
	    padding: 5px 0;
	    border-bottom: 1px dotted darken($crem, 15%);
	}
}

@media (max-width: 1024px) {
	.calc {

		$this: &;

		&__row {
			flex-direction: column;

			&:last-child {
				
				#{$this}__cell {
					border-bottom: 0;
				}
			}
		}

		&__cell {
			justify-content: center;
			margin: 0;
			text-align: center;
		}
	}
}