form.calc
	div.calc__row
		div.calc__cell
			label.calc__label Откуда:
			select(class="calc__select")
				option(class="calc__option", value="a1") Алматы
				option(class="calc__option", value="a2") Астана
				option(class="calc__option", value="a3") Актау
				option(class="calc__option", value="a4") Атырау
				option(class="calc__option", value="a5") Актобе
				option(class="calc__option", value="a6") Уральск
				option(class="calc__option", value="a7") Петропавловск
				option(class="calc__option", value="a8") Костанай
				option(class="calc__option", value="a9") Кокшетау
				option(class="calc__option", value="a10") Семей
				option(class="calc__option", value="a11") Оскемен
				option(class="calc__option", value="a12") Павлодар
				option(class="calc__option", value="a13") Караганда
				option(class="calc__option", value="a14") Жезказган
				option(class="calc__option", value="a15") Балхаш
				option(class="calc__option", value="a16") Тараз
				option(class="calc__option", value="a17") Шымкент
				option(class="calc__option", value="a18") Кызыл-Орда
				option(class="calc__option", value="a19") Талдыкорган
		div.calc__cell
			label.calc__label Куда:
			select(class="calc__select")
				option(class="calc__option", value="a1") Алматы
				option(class="calc__option", value="a2") Астана
				option(class="calc__option", value="a3") Актау
				option(class="calc__option", value="a4") Атырау
				option(class="calc__option", value="a5") Актобе
				option(class="calc__option", value="a6") Уральск
				option(class="calc__option", value="a7") Петропавловск
				option(class="calc__option", value="a8") Костанай
				option(class="calc__option", value="a9") Кокшетау
				option(class="calc__option", value="a10") Семей
				option(class="calc__option", value="a11") Оскемен
				option(class="calc__option", value="a12") Павлодар
				option(class="calc__option", value="a13") Караганда
				option(class="calc__option", value="a14") Жезказган
				option(class="calc__option", value="a15") Балхаш
				option(class="calc__option", value="a16") Тараз
				option(class="calc__option", value="a17") Шымкент
				option(class="calc__option", value="a18") Кызыл-Орда
				option(class="calc__option", value="a19") Талдыкорган
	div.calc__row
		div.calc__cell
			div.calc__label Вес, кг:
				input(type="number", class="calc__field calc__field--number", value="0")
	div.calc__row
		div.calc__cell
			div.calc__label.calc__label--checkbox Страхование?
				input(type="checkbox", class="calc__checkbox")
		div.calc__cell
			div.calc__label Сумма страхования:
				input(type="number", class="calc__field calc__field--number", value="0")
		div.calc__cell
			div.calc__label Стоимость страхования:
			div.calc__insurance-value 333 т.
	div.calc__row
		div.calc__cell
			div.calc__label Итого стоимость:
			div.calc__all-total-cost 13134 т.