mixin calculator(arr, trash)
	section.calculator.calculator--info
			div.wrapper.animated
				div.calculator__wrapper.calculator__wrapper--info
					h3.calculator-info__title Информация
					ul.calculator-info__ul
						each item, index in arr
							li.calculator-info__item= item
					if trash
						h3.calculator-info__title.calculator__margin-top40 Перечень работ:
						ul.calculator-info__ul
							each itemT, index in trash
								li.calculator-info__item= itemT