section.calculator(id="calculator")
	div.wrapper.animated
		div.calculator__wrapper
			h2.calculator__title Калькулятор
			form(class="calc", id="appMebel", v-on:change="calculateTheCost" v-on:click="calculateTheCost")
				div.calc__row
					div.calc__cell.calc__cell--name.calc__cell--lg Наименование
					div.calc__cell.calc__cell--name.calc__cell--lg Количество часов
					div.calc__cell.calc__cell--name.calc__cell--lg Цена за час
					div.calc__cell.calc__cell--name.calc__cell--lg Стоимость
				div.calc__row
					div.calc__cell.calc__cell--bold Газель (1,5 т)
					div.calc__cell
						input(type="number", min=0 class="calc__field calc__field--number", v-model="gaz")
					div.calc__cell
						span 2 500 ₸
						span.word-xs - Цена за час
					div.calc__cell 
						span.word-xs Стоимость -
						span {{ gazsum | discharges}} ₸
				div.calc__row
					div.calc__cell.calc__cell--bold Грузчики, 2 человека:
					div.calc__cell
						input(type="number", min=0 class="calc__field calc__field--number", v-model="mover")
					div.calc__cell
						span 3 000 ₸
						span.word-xs - Цена за час
					div.calc__cell
						span.word-xs Стоимость -
						span {{ moversum | discharges}} ₸
				div.calc__row
					div.calc__cell.calc__cell--bold Мебельщик:
					div.calc__cell
						input(type="number", min=0 class="calc__field calc__field--number", v-model="furnitureman")
					div.calc__cell
						span 2 000 ₸
						span.word-xs - Цена за час
					div.calc__cell 
						span.word-xs Стоимость -
						span {{ furnituremansum | discharges}} ₸
				div.calc__row
					div.calc__cell.calc__cell--bold Упаковщик:
					div.calc__cell
						input(type="number", min=0 class="calc__field calc__field--number", v-model="packman")
					div.calc__cell
						span 1 500 ₸
						span.word-xs - Цена за час
					div.calc__cell 
						span.word-xs Стоимость -
						span {{ packmansum | discharges}} ₸
				div.calc__row
					div.calc__cell.calc__cell--bold Супервайзер:
					div.calc__cell
						input(type="number", min=0 class="calc__field calc__field--number", v-model="supervaizer")
					div.calc__cell
						span 2 000 ₸
						span.word-xs - Цена за час
					div.calc__cell 
						span.word-xs Стоимость -
						span {{ supervaizersum | discharges }} ₸
				div.calc__row
					div.calc__cell.calc__cell--name Общая стоимость:
					div.calc__cell
						div.calc__all-total-cost
							span.calc__money-value {{ allsum | discharges}}
							span.calc__money-currency ₸