<header class="header">
	<div class="wrapper">
		<div class="header__wrapper">
			<div class="main-phones">
				<a href="tel:+72735466038" class="main-phones__item">8 (727) 354-66-03</a>
				<a href="tel:+7072546603" class="main-phones__item">8 (707) 254-66-03</a>
			</div>
			<nav class="header__nav">
				<ul class="main-menu">
					<li class="main-menu__item">
						<a href="#about-company" class="main-menu__link">О компании</a>
					</li>
					<li class="main-menu__item">
						<a href="#road-map" class="main-menu__link">Схема работы</a>
					</li>
					<li class="main-menu__item">
						<a href="#features" class="main-menu__link">Преимущества</a>
					</li>
					<li class="main-menu__item">
						<a href="#calculator" class="main-menu__link">Цены</a>
					</li>
					<li class="main-menu__item">
						<a href="#answers" class="main-menu__link">Ответы на вопросы</a>
					</li>
					<li class="main-menu__item">
						<a href="#" class="main-menu__link">Контакты</a>
					</li>
				</ul>
			</nav>
			<div class="header__order">
				<button type="button" class="button button--header">Заказать звонок</button>
			</div>
		</div>
	</div>
</header>