mixin features(arr)
	section.features(id="features")
		div.wrapper.animated
			div.features__wrapper
				h2.features__title Преимущества
				each item, index in arr
					div.features__item
						div(class= item[2])
						div.features__txt
							h3.features__name= item[0]
							p.features__description= item[1]
				div.feature-smile
					div.feature-smile__pic
					div.feature-smile__txt Довольные клиенты		