mixin roadMap(arr)
	section.road-map(id="road-map")
			div.wrapper
				div.road-map__wrapper
					h2.road-map__title Схема работы
					ul.road-map__ul
						each val, index in arr
							li.road-map__item
								h3.road-map__name= val[0]
								ul.road-map__sub-ul
									each valItem, indexItem in val[1]
										li.road-map__sub-item= valItem